.logo {
  height: 35px;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

* {
	background-color: lightblue;
}

h1 {
  text-align: center;
  background-color: white;
}

.aslog input {
  width: 320px;
  border: 2px;
  padding: 15px;
  background-color: #E5DFDE;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.aslog button {
  height: 55px;
  border: 2px;
  padding: 15px;
  display: block;
  margin: auto;
  background-color: lightgreen;
  font-size: 30px;
  width: 345px;
}


button:hover {
	background-color: green;
}

section {
	text-align: center;
	height: 100px;
}

p {
	text-align: center;
	color: #F0FFFF;
}

fieldset {
	background-color: white;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.aslog label {
	background-color: white;
}

section > a {
	background-color: white;
}

section {
	background-color: white;
}

