.logo {
  height: 35px;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
	background-color: lightblue;
	position: center;
}

h1 {
  text-align: center;
}

.aslog input {
  width: 320px;
  border: 2px;
  padding: 15px;
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.aslog button {
  height: 55px;
  border: 2px;
  padding: 15px;
  display: block;
  margin: auto;
  background-color: lightgreen;
  font-size: 30px;
}

body {
	background-color: white;

}

.aslog label {

}

.aslog fieldset {
}

button:hover {
	background-color: green;
}